*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-padding-top: calc(60/16*1rem);

  @media (min-width: 768px) {
    scroll-padding-top: calc(140/16*1rem);
  }
}

/* Set core body defaults */
body {
  min-height: 100svh;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  line-break: strict;
  overflow-wrap: anywhere;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article>*+* {
  // margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* picture*/
picture {
  display: block;
  width: 100%;
  height: 100%;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

:where(dialog) {
  width: unset;
  max-width: unset;
  height: unset;
  max-height: unset;
  padding: unset;
  color: unset;
  background-color: unset;
  border: unset;
  overflow: unset;
}

:where(dialog:focus-visible) {
  outline: none;
}

/* フォームリセット */
input,
button,
select,
textarea {
  margin: 0;
  padding: 0;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
}

textarea {
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: opacity 0.3s;
}

a[href^="tel:"] {
  pointer-events: none;
}

@media (max-width: 767px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}