@use "sass:math";
@use "./breakpoints" as *;

////////////////////
// インナー幅と余白設定
////////////////////
:root {
  --inner-value: 1200;
  --inner: 1200px;
  --padding-pc: 25px;
  --padding-sp: 20px;
}

////////////////////
// 計算式
////////////////////
:root {
  --rem: 1rem / 16;
  --em: 1em / 16;
  --vw: 1440 * 100vw;
  --inner-percent: var(--inner-value) * 100%;

  @include mq(md) {
    --vw: 375 * 100vw;
  }
}

////////////////////
// フォント設定
////////////////////
:root {
  --base-font: "Noto Sans JP", sans-serif;
  --fw-extralight: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  --leading-trim: calc((1em - 1lh) / 2);
}

////////////////////
// 色の指定
////////////////////
:root {
  --white: #fff;
  --black: #000;
}

////////////////////
// z-indexの指定
////////////////////
:root {
  --z-index-loader: 1000;
  --z-index-header: 100;
  --z-index-drawer: 99;
  --z-index-cta: 90;
}

////////////////////
// グローバルスタイル
////////////////////
:root {
  --header-height: calc(120 * var(--rem));
  --scrollbar-width: 0;

  @include mq("md") {
    --header-height: calc(64 * var(--rem));
  }
}

@property --scrollbar {
  syntax: "<length>";
  initial-value: 0;
  inherits: true;
}

:root:has(:modal[open], .is-scroll-lock, .loader) {
  overflow: hidden;
  scrollbar-gutter: stable;
}

body {
  container-type: inline-size;
  font-family: var(--base-font);
  color: var(--black);
  font-weight: var(--fw-medium);
  line-height: 1.5;
}